# EditorConfig - https://editorconfig.org

root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Python
[*.py]
indent_size = 4

# Makefiles require tabs
[Makefile]
indent_style = tab

# Shell scripts
[*.sh]
indent_size = 2

# JSON
[*.json]
indent_size = 2

# YAML
[*.{yml,yaml}]
indent_size = 2

# C# / .NET
[*.{cs,csx,vb,vbx}]
indent_size = 4

# XML / XAML
[*.{xml,xaml,csproj,vbproj,fsproj,props,targets}]
indent_size = 2

# Go
[*.go]
indent_style = tab

# Rust
[*.rs]
indent_size = 4
